
.aboutme {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px 60px;
    background: #F2E6E6;
}

.aboutme p {
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
    line-height: 29px;
    text-indent: 40px;
}

@media (max-width: 800px) {

    .aboutme {
        max-width: 55%;
        padding: 15px 40px;
    }
    .aboutme p {
        text-indent: 25px;
    }
}

@media (max-width: 500px) {
    
    .aboutme {
        max-width: 70%;
        padding: 10px 25px;
    }

    .aboutme p {
        font-size: 18px;
    }
}
